    <!-- Copyright Footer -->
    <footer class="g-bg-gray-dark-v1 g-color-white-opacity-0_8 g-py-20">
		<div class="container">
		  <div class="row">
			<div class="col-md-8 text-center text-md-left g-mb-10 g-mb-0--md">
			  <div class="d-lg-flex">
				<small class="d-block g-font-size-default g-mr-10 g-mb-10 g-mb-0--md">2020 &copy; codeworx gmbh</small>
				<ul class="u-list-inline">
				  <li class="list-inline-item">
					<a class="g-color-white-opacity-0_8 g-color-white--hover" href="{{ site.baseurl }}/Impressum">Impressum</a>
				  </li>
				  <li class="list-inline-item">
					<span>|</span>
				  </li>
				  <li class="list-inline-item">
					<a class="g-color-white-opacity-0_8 g-color-white--hover" href="{{ site.baseurl }}/Support">Support</a>
				  </li>
				</ul>
			  </div>
			</div>
  
			<div class="col-md-4 align-self-center">
			  <ul class="list-inline text-center text-md-right mb-0">
			
				{% for l in site.data.languages %}
				<li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="{{l.lang}}">
					<a href="{{ site.baseurl }}{{l.path}}" class="g-color-white-opacity-0_5 g-color-white--hover">{{l.lang}}</a>
				</li>
				{% endfor %}
			  </ul>
			</div>
		  </div>
		</div>
	  </footer>
	  <!-- End Copyright Footer -->
	  <a class="js-go-to u-go-to-v1" href="#" data-type="fixed" data-position='{
	   "bottom": 15,
	   "right": 15
	 }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
		<i class="hs-icon hs-icon-arrow-top"></i>
	  </a>