

<section class="container g-pb-20">
<!-- Pagination -->
<nav class="text-center" aria-label="Page Navigation">
    <ul class="list-inline mb-0">
        <li class="list-inline-item float-sm-left">
        <a class="u-pagination-v1__item u-pagination-v1-4 g-rounded-50 g-pa-7-16 {% if page.previous %}{% else %}u-pagination-v1__item--disabled{% endif %}"
         href="{{page.previous.url | relative_url}}" 
         aria-label="{{page.previous.title}}">
            <span aria-hidden="true">
            <i class="fa fa-angle-left"></i>
            {{site.data.translation[page.lang].navigation.previous }}
            </span>
        </a>
        </li>
        <li class="list-inline-item mr-0">
        <a class="u-pagination-v1__item g-color-gray-dark-v4 g-font-size-20 g-py-2 g-px-10" href="{{ site.data.collectioninfo[page.collection].path | relative_url }}" data-toggle="tooltip" data-placement="top" title="{{site.data.translation[page.lang].navigation.view-all }}">
            <i class="icon-grid"></i>
        </a>
        </li>
        <li class="list-inline-item float-sm-right">
        <a class="u-pagination-v1__item u-pagination-v1-4 g-rounded-50 g-pa-7-16 {% if page.next %}{% else %}u-pagination-v1__item--disabled{% endif %}" 
        href="{{page.next.url | relative_url}}" 
        aria-label="{{page.next.title}}">
            <span aria-hidden="true">
            {{site.data.translation[page.lang].navigation.next }}
            <i class="fa fa-angle-right"></i>
            </span>
        </a>
        </li>
    </ul>
</nav>
<!-- End Pagination -->
</section>