---
layout: default
---

 <!-- Portfolio Single Item -->
 <section class="container g-py-100">
    <!-- Cube Portfolio Blocks - Content -->
    <div class="cbp g-mb-50" data-controls="#filterControls1" data-animation="quicksand" data-x-gap="30" data-y-gap="30" data-media-queries='[{"width": 1500, "cols": 3}, {"width": 1100, "cols": 3}, {"width": 800, "cols": 3}, {"width": 480, "cols": 2}, {"width": 300, "cols": 1}]'>
      
	{% for img in page.images %}
        <!-- Cube Portfolio Blocks - Item -->
      <div class="cbp-item identity design">
        <div class="u-block-hover g-parent">
          <img class="img-fluid g-transform-scale-1_1--parent-hover g-transition-0_5 g-transition--ease-in-out" src="{{img}}" alt="Image description">
          <div class="d-flex w-100 h-100 g-bg-black-opacity-0_6 opacity-0 g-opacity-1--parent-hover g-pos-abs g-top-0 g-left-0 g-transition-0_3 g-transition--ease-in u-block-hover__additional--fade u-block-hover__additional--fade-in g-pa-20">
            <div class="align-items-end flex-column mt-auto ml-auto">
              <a class="cbp-lightbox u-icon-v2 u-icon-size--sm g-brd-white g-color-black g-bg-white rounded-circle" href="{{img}}">
                <i class="icon-communication-017 u-line-icon-pro"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- End Cube Portfolio Blocks - Item -->
    {% endfor %}

    </div>
    <!-- End Cube Portfolio Blocks - Content -->

    <div class="row g-mb-70">
      <div class="col-md-8 g-mb-30">
        <div class="mb-5">
            {{ content }}
        </div>
      </div>

      <div class="col-md-4 g-mb-30">
        <!-- Client -->
        <div class="mb-5">
          <h3 class="h5 g-color-black mb-3">Kunde:</h3>
              <img class="g-width-25 g-height-25 rounded-circle mr-2 mb-1" src="{{ site.baseurl }}/img/client/{{ page.client }}_100.png" alt="{{site.clients[page.client]}}" />{{site.clients[page.client]}}
        </div>
        <!-- End Client -->

        <!-- Designers -->
        <div class="mb-5">
          <h3 class="h5 g-color-black mb-3">Mitarbeiter:</h3>
          <ul class="list-unstyled">
            <li class="my-3">
                {% for employee in page.employees %}
              <img class="g-width-25 g-height-25 rounded-circle mb-1 mr-2" src="{{ site.baseurl }}/img/employee/{{employee}}_100.png" alt="{{site.employees[employee]}}">
              <a class="g-color-gray-dark-v4 g-text-underline--none--hover" href="#">{{site.employees[employee]}}</a>
                  {% endfor %}
            </li>
          </ul>
        </div>
        <!-- End Designers -->

        <!-- Tags -->
        <div class="g-mb-30">
          <h3 class="h5 g-color-black mb-3">Tags:</h3>
          <ul class="u-list-inline mb-0">
            {% for tag in page.tags %}
            <li class="list-inline-item g-mb-10">
              <span class="u-tags-v1 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15">{{tag}}</span>
            </li>
            {% endfor %}
          </ul>
        </div>
        <!-- End Tags -->
        </div>
    </div>

    <!-- Pagination -->
    <nav class="text-center" aria-label="Page Navigation">
      <ul class="list-inline mb-0">
        <li class="list-inline-item float-sm-left">
          <a class="u-pagination-v1__item u-pagination-v1-4 g-brd-gray-light-v3 g-brd-primary--hover g-rounded-50 g-pa-7-16" href="#" aria-label="Previous">
            <span aria-hidden="true">
              <i class="fa fa-angle-left"></i>
              Previous
            </span>
          </a>
        </li>
        <li class="list-inline-item mr-0">
          <a class="u-pagination-v1__item g-color-gray-dark-v4 g-font-size-20 g-py-2 g-px-10" href="#" data-toggle="tooltip" data-placement="top" title="View All">
            <i class="icon-grid"></i>
          </a>
        </li>
        <li class="list-inline-item float-sm-right">
          <a class="u-pagination-v1__item u-pagination-v1-4 g-brd-gray-light-v3 g-brd-primary--hover g-rounded-50 g-pa-7-16" href="#" aria-label="Next">
            <span aria-hidden="true">
              Next
              <i class="fa fa-angle-right"></i>
            </span>
          </a>
        </li>
      </ul>
    </nav>
    <!-- End Pagination -->
  </section>
  <!-- End Portfolio Single Item -->

  <script>
              // initialization of cubeportfolio
              $.HSCore.components.HSCubeportfolio.init('.cbp');
  </script>