---
layout: default
---



<div class="project">
	<div class="imageHeader">
		<img src="images/HEADERprojekt_long.jpg">
	</div>
	<div class="container">
		<div class="project-intro">
			<h1 class="text-center">{{page.title}}</h1>
			<p class="intro text-center text-muted">{{page.description}}</p>
		</div>
	
		<div>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a class="a-breadcrumb" href="index.html">Projekte</a></li>
				<li class="breadcrumb-item active">{{page.title}}</li>
			</ol>
			<p class="project-text text-justify">
				{{page.content}}
			</p>
		</div>	
	</div>
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 bg-grey text-center">
				<div class="row">
					<div class="col-md-4">
						<h3 class="text-uppercase">Client</h3>
						<p class="client-name">{{page.client}}</p>
					</div>
					<div class="col-md-4">
						<h3 class="text-uppercase">Designers</h3>
						<p class="designer-name">{{page.developer}}</p>
					</div>
					<div class="col-md-4">
						<h3 class="text-uppercase">Date</h3>
						<p class="date-name">{{page.date}}</p>
					</div>
				</div>
				
				<div class="w3-panel w3-light-grey">
					<span class="quotesign">❝</span>
					<p class="w3-xlarge" style="margin-top:-40px"><i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non massa vitae risus fermentum ullamcorper.
					Phasellus risus urna, ornare in aliquam id, porttitor sit amet sapien. Nulla facilisi.</i></p>
					<p class="quotename">- Sandra Schwarz, CEO Jefferson</p>
				</div>			
			</div>
	
			<div class="col-md-6 p0 img-responsive"><img src="{{ site.baseurl }}/projects/images/{{page.image}}" alt="{{page.title}}" class="w100"/></div>
		</div>
	</div>
</div>
